body {  
  background-color: rgba(30, 32, 33, 1); 
  color: rgb(230, 230, 230);
  padding: 10px;
  margin: 5px;
  background-size: cover;
  overflow: scroll;
  
} 
.background {
  background-color: rgba(30, 32, 33, 1); 
  background-size: cover;
    position: fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
  overflow: scroll;
    transition: 0.4s linear;
}

#backgroundPic {
    background-image: url(/images/tridentconsolefaders3.jpg); 
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#backgroundPic2 {
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}


h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 3.5em;
  
}



h2 {
  font-family: 'Bungee Hairline', sans-serif;
  font-size: 2.5em;
}

#main {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#images {
  position: relative;
  top: 50%;
  margin-top: 4em;
}

img {
  margin-top: 0em;
  padding: 1.5em;
}

#buttons {
  position: fixed;
  top: 55%;
  width: 100%;
  
}



.btn, a.btn{
  border-radius: 2px;
  background-color: rgba(50, 50, 50, 0);
  border: 2px solid rgb(215, 215, 215);
  transition-duration: 0.4s;
  color: rgb(215, 215, 215);
  margin-top: 2em;
/*  margin-left: 0.5em;
  margin-right: 0.5em; */
  padding-left: 3.5em;
  padding-right: 3.5em;
  font-family: 'Bungee', sans-serif;
  
}

.musicDiv .webDiv {
  position: relative;
  padding: 5em;
  margin: 2em;
}

.overlay {
  display: block;
  background: rgba(30, 32, 33, 0.7);
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  transition: 0.4s;
}

.musicDiv:hover .overlay {
  display: block;
  background: rgba(30, 32, 33, 0.4);
}

.webDiv:hover .overlay {
  display: block;
  background: rgba(30, 32, 33, 0.4);
}

.musicImgButton {
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em;
  
}
.webImgButton {
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em;
  
}


button:hover {
  cursor: pointer;
  background-color: rgb(215, 215, 215);
  color: rgb(30, 32, 33);
  
}

